html,
body {
    width: 200px;
}

.page-choice {
    width: 100%;
    padding: 4px;
    font-size: 2.5em;
    text-align: center;
    cursor: pointer;
}

.page-choice:hover {
    background-color: #cff2f2;
}