.App {
  text-align: center;
}
.container-fluid{
  padding: 15%;
  background-color: #e0ece4;
}
.email  {
  background-color: #e0ece4;
}
.password{
background-color:  #e0ece4;
}
.box{
  padding: 10%;
margin-top: 20vh;
-webkit-box-shadow: 10px 10px 30px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 30px 2px rgba(0,0,0,0.75);
box-shadow: 10px 10px 30px 2px rgba(0,0,0,0.75);
}
